{% extends 'orders/base.html' %}
{% block title %}Registeration Page{%endblock%}
{% block tt%} Create an account {%endblock%}
{% block body %}
<form action="{% url 'register' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
    <small id="userHelp" class="form-text text-muted">This would be your display name throughout the app</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    <small id="passHelp" class="form-text text-muted">Use a super rememberable password</small>
  </div>
  <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Create Account</button>
</form>
{%endblock%}